<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" defer></script>
</head>

<body>
    <!-- site outer links -->
    <div class="outer-wrapper d-none d-lg-block spacing-outer_list">
        <div class="custom-container">
            <ul
                class="outer-list d-flex flex-column flex-sm-row align-items-sm-center justify-content-sm-end mb-0 list-unstyled">
                <li class="outer-item d-flex align-items-center mb-3 mb-sm-0">
                    <a class="outer-link leading-100 text-decoration-none clr-dark-100 hover-none" href="#">
                        Company Address type here
                    </a>
                </li>
                <li class="outer-item d-flex align-items-center">

                    <a class="outer-link leading-100 text-decoration-none clr-dark-100 hover-none"
                        href="tel:+998940000000">
                        +94 000 0000
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- header start -->
    <header class="spacing-header">
        <div class="custom-container">
            <div class="d-flex align-items-center justify-content-between">
                <a href="#">
                    <img src="../images/logo.svg" alt="Logo">
                </a>

                <!-- hamburger -->
                <button class="btn hamburger position-relative d-md-none">
                    <img src="../images/hamburger.svg" aria-hidden="true" alt="hamburger icon">
                </button>
                <!-- navigation -->
                <nav class="navigation position-fixed top-0 start-50 w-50 d-none py-3 bg-custom-primary-100 translate-middle-x d-md-block transform-md-none py-md-0 bg-md-transparent"
                    id="primaryNavigation">
                    <ul class="nav nav-list d-grid align-items-center justify-content-center text-center d-md-flex">
                        <li class="nav-item">
                            <a class="nav-link leading-200 text-white" aria-current="page" href="#">Active</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link leading-200 text-white" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link leading-200 text-white" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link leading-200 text-white">Disabled</a>
                        </li>
                    </ul>
                </nav>

                <!-- contact us link -->
                <button class="d-none btn spacing-button clr-custom-primary-100 bg-white d-md-block">Contact us</button>
            </div>
        </div>
    </header>

    <!-- hero start -->
    <section class="hero">
        <div class="custom-container">
            <div class="hero-content">
                <!-- hero content -->
                <p class="fw-bold clr-custom-primary-100 digital-text">Digital marketing</p>
                <h1 class="hero-title fw-bold">
                    Work that we produce for our clients
                </h1>
                <p class="hero-text fw-medium">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard.
                </p>
                <button class="btn hero-btn fw-medium text-white">Get more details</button>
            </div>
        </div>
    </section>
    <!-- hero end -->

    <!-- features start -->
    <section class="features">
        <div class="custom-container">
            <h2 class="features-title fw-semibold text-center clr-dark-200">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </h2>

            <div class="features-inner d-none d-md-grid">
                <h3 class="features-inner-title fw-semibold clr-dark-200">Lorem Ipsum</h3>
                <p class="features-text d-none d-md-block">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s,
                </p>
            </div>
            <img class="features-img" src="../images/features-desktop.jpg" width="334" height="212" srcset="../images/features-desktop.jpg 1x , ../images/features-desktop@2x.jpg 2x"
                alt="A perfect picture of a perfect team working in a perfect office which is placed in a perfect location with a perfect scenery">
            <div class="features-end text-center">
                <h3 class="features-title features-end-title mb-lg-4">Lorem Ipsum is simply dummy text of the printing
                    and typesetting industry.
                </h3>
                <p class="features-text clr-neutral-100">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s,
                </p>

            </div>

            <!-- features list -->
            <ul class="features-list list-unstyled row justify-content-center">
                <li class="features-item place-items-center d-grid col col-xxl-3">
                    <h3 class="feature-item-title text-center fs-6">Mobile Game development</h3>
                    <button class="next-btn features-btn btn">
                        <img src="../images/arrow.svg" aria-hidden="true" alt="arrow icon">
                    </button>
                </li>
                <li class="features-item place-items-center d-grid col col-xxl-3">
                    <h3 class="feature-item-title text-center fs-6">Mobile Game development</h3>
                    <button class="next-btn features-btn btn">
                        <img src="../images/arrow.svg" aria-hidden="true" alt="arrow icon">
                    </button>
                </li>
                <li class="features-item place-items-center d-grid col col-xxl-3">
                    <h3 class="feature-item-title text-center fs-6">Mobile Game development</h3>
                    <button class="next-btn features-btn btn">
                        <img src="../images/arrow.svg" aria-hidden="true" alt="arrow icon">
                    </button>
                </li>
                <li class="features-item place-items-center d-grid col col-xxl-3">
                    <h3 class="feature-item-title text-center fs-6">Mobile Game development</h3>
                    <button class="next-btn features-btn btn">
                        <img src="../images/arrow.svg" aria-hidden="true" alt="arrow icon">
                    </button>
                </li>
                <li class="features-item place-items-center col col-xxl-6 d-none d-xxl-grid">
                    <h3 class="feature-item-title text-center fs-6">Mobile Game development</h3>
                    <button class="next-btn features-btn btn">
                        <img src="../images/arrow.svg" aria-hidden="true" alt="arrow icon">
                    </button>
                </li>
                <li class="features-item place-items-center col col-xxl-6 d-none d-xxl-grid">
                    <h3 class="feature-item-title text-center fs-6">Mobile Game development</h3>
                    <button class="next-btn features-btn btn">
                        <img src="../images/arrow.svg" aria-hidden="true" alt="arrow icon">
                    </button>
                </li>
            </ul>
        </div>
    </section>
    <!-- features end -->

    <!-- carousel start -->
    <section class="slides bg-main-100">
        <div class="custom-container">
            <div class="slides-inner">
                <h2>Lorem Ipsum</h2>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>

            </div>
        </div>
        <ul class="slides-list list-unstyled mb-0 mx-auto justify-content-center overflow-hidden" id="carouselItems">
            <li class="slides-item mx-auto bg-white overflow-hidden">
                <strong class="fw-normal bg-greenish-100 clr-greenish-200 slides-small-text">
                    Lorem ipsum
                </strong>

                <h3 class="slides-item-title fw-semibold">Lorem Ipsum</h3>

                <p class="slides-item-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s,
                </p>

                <a class="d-block text-end text-decoration-none clr-custom-primary-100  slides-item-link" href="#">
                    Read more
                </a>
            </li>
            <li class="slides-item mx-auto bg-white overflow-hidden">
                <strong class="fw-normal bg-redish-100 clr-redish-200 slides-small-text">
                    Lorem ipsum
                </strong>

                <h3 class="slides-item-title fw-semibold">Lorem Ipsum</h3>

                <p class="slides-item-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s,
                </p>

                <a class="d-block text-end text-decoration-none clr-custom-primary-100  slides-item-link" href="#">
                    Read more
                </a>
            </li>
            <li class="slides-item mx-auto bg-white overflow-hidden">
                <strong class="fw-normal bg-custom_purple-100 clr-custom_purple-200 slides-small-text">
                    Lorem ipsum
                </strong>

                <h3 class="slides-item-title fw-semibold">Lorem Ipsum</h3>

                <p class="slides-item-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s,
                </p>

                <a class="d-block text-end text-decoration-none clr-custom-primary-100  slides-item-link" href="#">
                    Read more
                </a>
            </li>
            <li class="slides-item mx-auto bg-white overflow-hidden">
                <strong class="fw-normal bg-sky-100 clr-sky-200 slides-small-text">
                    Lorem ipsum
                </strong>

                <h3 class="slides-item-title fw-semibold">Lorem Ipsum</h3>

                <p class="slides-item-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s,
                </p>

                <a class="d-block text-end text-decoration-none clr-custom-primary-100  slides-item-link" href="#">
                    Read more
                </a>
            </li>
        </ul>
        <div class="custom-container">
            <div class=" btn-custom-container position-relative d-flex align-items-center ms-auto">
                <button class="btn prev-btn" id="prevBtn">
                    <img src="../images/arrow_left_carousel.svg" aria-hidden="true" alt="left arrow">
                </button>
                <button class="btn prev-btn" id="nextBtn">
                    <img src="../images/arrow_right_carousel.svg" aria-hidden="true" alt="right arrow">
                </button>
            </div>
        </div>
    </section>
    <!-- carousel end -->

    <!-- projects start -->
    <section class="projects">
        <div class="custom-container">
            <div class="projects-inner mb-5">
                <h2 class="projects-title mb-4 text-center clr-dark-200">
                    Our Recent Projects
                </h2>
                <p class="projects-text text-center clr-neutral-100">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div>

            <!-- projects list -->
            <ul class="projects-list row gy-4 justify-content-center list-unstyled">
                <li class="projects-item col-12 col-md-6 col-lg-4 d-grid place-items-center">
                    <img class="mx-auto" src="../images/project-1.jpg"
                        srcset="../images/project-1.jpg 1x , ../images/project-1@2x.jpg 2x" width="306" height="185"
                        alt="project cover">
                </li>
                <li class="projects-item col-12 col-md-6 col-lg-4 d-grid place-items-center">
                    <img class="mx-auto" src="../images/project-2.jpg"
                        srcset="../images/project-2.jpg 1x , ../images/project-2@2x.jpg 2x" width="306" height="185"
                        alt="project cover">
                </li>
                <li class="projects-item col-12 col-md-6 col-lg-4 d-grid place-items-center">
                    <img class="mx-auto" src="../images/project-3.jpg"
                        srcset="../images/project-3.jpg 1x , ../images/project-3@2x.jpg 2x" width="306" height="185"
                        alt="project cover">
                </li>
                <li class="projects-item col-12 col-md-6 col-lg-2 d-grid place-items-center">
                    <img class="mx-auto" src="../images/project-4.jpg"
                        srcset="../images/project-4.jpg 1x , ../images/project-4@2x.jpg 2x" width="306" height="185"
                        alt="project cover">
                </li>
                <li class="projects-item col-12 col-md-6 col-lg-5 place-items-center d-none d-lg-grid">
                    <img class="mx-auto" src="../images/project-5.jpg"
                        srcset="../images/project-5.jpg 1x , ../images/project-5@2x.jpg 2x" width="306" height="185"
                        alt="project cover">
                </li>
                <li class="projects-item col-12 col-md-6 col-lg-5 place-items-center d-none d-lg-grid">
                    <img class="mx-auto" src="../images/project-6.jpg"
                        srcset="../images/project-6.jpg 1x , ../images/project-6@2x.jpg 2x" width="306" height="185"
                        alt="project cover">
                </li>
            </ul>
        </div>
    </section>
    <!-- projects end -->

    <!-- about section start -->
    <section class="about pb-lg-0">
        <div class="custom-container">
            <div class="about-inner mx-auto ms-lg-auto me-lg-0">
                <h2 class="about-title fw-medium">
                    Lorem Ipsum is simply dummy
                    text dummy text
                </h2>
                <p class="about-text clr-neutral-200">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries,
                </p>

                <p class="about-text-secondary clr-neutral-200">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>

                <button class="btn about-btn text-white bg-custom-primary-100">Read more</button>
            </div>
        </div>
    </section>
    <!-- about section end -->

    <!-- cta section start -->
    <section class="cta">
        <div class="custom-container">
            <div class="cta-inner">
                <h2 class="cta-title fw-semibold clr-dark-200">Lorem Ipsum</h2>
                <p class="cta-text clr-neutral-100">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div>

            <article class="site-article bg-dark-300 px-3 py-3 rounded-4">
                <div class="article-wrapper grid gap-5 d-xl-flex justify-content-xl-between align-items-xl-center">
                    <div class="article-inner">
                        <h3 class="article-text text-white">
                            Stay in the loop
                        </h3>
                        <p class="text-white">
                            Subscribe to receive the latest news and updates about TDA.
                            We promise not to spam you!
                        </p>
                    </div>

                    <form class="position-relative" action="https://echo.htmlacademy.ru/courses">
                        <div class="d-flex mb-3">
                            <input class="form-control p-3" id="userEmail" type="email"  placeholder="Enter email address"
                                aria-label="User email">
                            <button class="btn form-btn position-absolute bg-custom-primary-100 text-white text-center" type="submit">Continue</button>
                        </div>

                    </form>
                </div>
            </article>
        </div>

    </section>
    <!-- cta section end -->

    <!-- footer start -->
    <footer class="site-footer bg-dark">
        <div class="custom-container">
            <!-- footer top -->
            <div class="footer-start d-none align-items-start justify-content-md-center justify-content-lg-between text-md-center text-lg-start d-md-grid gap-md-2 d-lg-flex">
                <div class="footer-start-inner d-none d-md-flex h-100 flex-column justify-content-between">
                    <a class="footer-logo" href="#">
                        <img src="../images/logo.svg" alt="Logo">
                    </a>
                    <p class="text-white footer-top-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                    <a class="footer-top-link text-white text-decoration-none" href="#">@Company.com</a>
                </div>

                <div class="d-none d-md-block">
                    <strong class="footer-strong mb-3 text-white text-center fw-medium">
                        About us
                    </strong>
                    <ul class="list-unstyled d-grid fs-6">
                        <li>
                            <a class="text-white text-decoration-none" href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a class="text-white text-decoration-none" href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a class="text-white text-decoration-none" href="#">
                                Careers
                            </a>
                        </li>
                        <li>
                            <a class="text-white text-decoration-none" href="#">
                                Contact us
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="d-none d-md-block footer-outer">
                    <strong class="text-white fw-medium">
                        Contact us
                    </strong>
                    <p class="mb-0 text-white footer-outer-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                    <a class="text-white text-decoration-none" href="tel:+90000000000">
                        +9000 0000 000
                    </a>
                </div>
                <!-- social links -->
                <ul class="list-unstyled d-flex align-self-end justify-content-md-center justify-content-lg-start gap-3 mb-0">
                    <li>
                        <a href="#" target="blank">
                            <img src="../images/fb.svg" width="32" height="32" aria-hidden="true" alt="facebook logo">
                        </a>
                    </li>
                    <li>
                        <a href="#" target="blank">
                            <img src="../images/instagram.svg" width="32" height="32" aria-hidden="true"
                                alt="instagram logo">
                        </a>
                    </li>
                    <li>
                        <a href="#" target="blank">
                            <img src="../images/twitter.svg" width="32" height="32" aria-hidden="true"
                                alt="twitter logo">
                        </a>
                    </li>
                    <li>
                        <a href="#" target="blank">
                            <img src="../images/linkedin.svg" width="32" height="32" aria-hidden="true"
                                alt="linkedin logo">
                        </a>
                    </li>
                </ul>
            </div>
            <!-- footer bottom -->
            <div class="footer-end">
                <p class="copyright-text text-white text-center mb-0">
                    Copyright ® 2021 Company All rights Rcerved
                </p>
            </div>
        </div>
    </footer>
    <!-- footer end -->
</body>

</html>