.cta{
    margin-bottom: 69px;
}

.cta-inner{
    max-width: 545px;
    margin-bottom: 41px;
}

.cta-title{
    margin-bottom: 13px;
}

.form-btn{
    top: 6px;
    right: 7px;
    padding: 8px 14px 9px 22px !important;
}

#userEmail{
    width: 100% !important;
}

@media screen and (min-width:992px){
    .cta{
        margin-bottom: 148px;
    }
    .cta-inner{
        margin-bottom: 74px;
    }
    .cta-title{
        margin-bottom: 2rem;
    }

   .article-inner{
    max-width: 636px;
   }
}

