.cta{
    margin-bottom: 69px;
}

.cta-inner{
    max-width: 545px;
    margin-bottom: 41px;
}

.cta-title{
    margin-bottom: 13px;
}

.form-btn{
    top: 6px;
    right: 7px;
    padding: 8px 14px 9px 22px !important;
}

#userEmail{
    width: 100% !important;
}

.site-article{
    padding-block: 30px 18px;
    padding-inline: 21px 32px;
}

.article-inner{
    margin-bottom: 43px;
}

@media screen and (min-width:992px){
    .cta{
        margin-bottom: 148px;
    }
    .cta-inner{
        margin-bottom: 74px;
    }
    .cta-title{
        margin-bottom: 2rem;
    }

    .site-article{
        padding-block: 42px 40px;
        padding-inline: 56px 50px;
    }

   .article-inner{
    max-width: 636px;
    margin-bottom: 0;
   }
}

