header{
    background: linear-gradient(90.05deg, #E47500 -5.66%, #DF7C14 115.63%);
}

.line{
    width: 30px;
    height: 3px;
    transition: transform 0.5s;
}

.hamburger.toggle .line:nth-child(1){
    position: absolute;
    transform: rotate(135deg);
}

.hamburger.toggle .line:nth-child(2){
    position: absolute;
    transform: scale(0);
}

.hamburger.toggle .line:nth-child(3){
    transform: rotate(-135deg);
}

.navigation.show{
    display: block !important;
}

